*{
	margin:0;
	padding:0;
}

.map{
	position: absolute;
	width:100%;	
	height:100%;
}

.player1{
	width:38px;
	height:45px;
	position:fixed;
	top:35%;
	left:14%;
}


.player2{
	 width:38px;
	 height:45px;
	 position:fixed;
	 top:73%;
	 left:53%;
	
	
}


.player3{
     width:38px;
	 height:45px;
     position:fixed;
     top:35%;
     left:70%;       